@mixin zero-margin($pad-up-down, $pad-left-right) {
    margin: 0px;
    padding: $pad-up-down $pad-left-right;
}

.jumbotron {
    margin: o;
    padding: 20px;
    background: rgb(74, 131, 255) ;
    color:#fffaf0;
    min-height: 150px;
}

.logo {
    width: 70px;
    border-radius: 3px;
}

.flex-spacer {
    flex: 1 1 auto;
}
a{
    margin-left: 25px;
}


